.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {    
    display: flex;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.contactos {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #ffffff;
    border-right: 2px solid #f7eaf5;
    height: 100%;
}

.usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 13%;
    border-bottom: 2px solid #f7eaf5;
}

.chatimg1 {
    width: 10%;
    border-radius: 50%;
    margin: 5%;
}

div {
    display: flex;
    flex-direction: column;
}



.iconos {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 50%;
}

i {
    margin: 5%;
    color: #c1b7d8;
    font-size: 25px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f7eaf5;
    padding: 10%;
}

.boton {
    width: 80%;
    color: #ffffff;
    background-color: #A491D2;
    font-size: large;
    padding: 5%;
    border: none;
}

.boton:hover {
    background-color: #c1b7d8;
}

.chats {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    border-bottom: 2px solid #f7eaf5;
}

.chatimg2 {
    width: 15%;
    border-radius: 50%;
    margin: 5%;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    width: 75%;
    background-color: #f7eaf5;
}

.logo {
    width: 28%;
    border-radius: 5%;
    margin: 4%;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1,h2, p {
    margin: 0%;
    padding: 0%;
    color: #35333b;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 23px;
}

.estado {
    font-size: 20px;
    color: #c1b7d8;
}